# Build
android/.gradle/
android/build/
android/**/build/
android/local.properties

# IDE
.idea/
*.iml

# OS / tooling
.gradle-dist/

# Connect IQ
watch/bin/
watch/developer_key.pem
watch/developer_key.der
